#container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 0 500px;
}

#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#casio{
    margin-left: 20px;
}

#solarPanel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(59, 59, 59);
    margin: 19.920 0;
    width: 95px;
    margin-right: 20px;
}

.cells{
    background-color: rgb(27, 32, 0);
    width: 27px;
    height: 21px;
}

#current-operation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 15px;
    font-size: 1ex;
    
}

#screen{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 2em;
    border: 5px solid grey;
    width: 250px;
}

#screen-num{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 32px;
    font-size: 2ex;
    padding-bottom: 15px;
}

#button-grid{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 15;
    margin-bottom: 10;
}


.button-row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 4;
    margin-bottom: 6;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 45px;
    height: 45px;
}